USE [master]
GO
/****** Object:  Database [DemoAPI]    Script Date: 7/26/2021 3:30:48 PM ******/
CREATE DATABASE [DemoAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DemoAPI.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DemoAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DemoAPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoAPI]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 7/26/2021 3:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Room] ([Id], [Name]) VALUES (N'0eb10f6c-f800-4389-80c3-6eadf2dacbb5', N'Phòng 4007')
INSERT [dbo].[Room] ([Id], [Name]) VALUES (N'06f38c55-c6ca-49e8-85eb-f04efce26c66', N'Phòng 3921')
USE [master]
GO
